<div class="linktree">

<a href="https://www.behance.net/santhoshthomas" target="_unblank">
<button class="button is-primary is-rounded is-hovered"><i class="fab fa-behance"></i>Behance</button>
</a>
<a href="https://github.com/sats268842"  target="_unblank">
<button class="button is-primary is-rounded is-hovered"><i class="fab fa-github"></i>Github</button>
</a>
<a href="https://www.santhoshthomas.xyz"  target="_unblank">
<button class="button is-primary is-rounded is-hovered"><i class="fas fa-link"></i>Website</button>
</a>
<a href="https://www.instagram.com/san_thos_h/"  target="_unblank">
<button class="button is-primary is-rounded is-hovered"><i class="fab fa-instagram"></i>Instagram</button>
</a>
</div>
